# 데이터 유형

In [2]:
import pandas as pd

In [18]:
col1 = [1, 0, 3, 4]
col2 = ['one','two', 'three', 'four']
col3 = [1.5, 2.2, 3.4, 4.5]
col4 = [True, False, True, False]
col5 = ['1', '2', '3', '4']
df = pd.DataFrame(data={'col1': col1, 'col2': col2,
                        'col3': col3, 'col4': col4, 'col5': col5})
df

   col1   col2  col3   col4 col5
0     1    one   1.5   True    1
1     0    two   2.2  False    2
2     3  three   3.4   True    3
3     4   four   4.5  False    4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      int64
 1   col2    4 non-null      object
 2   col3    4 non-null      float64
 3   col4    4 non-null      bool
 4   col5    4 non-null      object
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 260.0+ bytes

- 컬럼정보.astype()
    - float, object, int, bool

In [6]:
print(df['col1'].astype('bool'))

0     True
1    False
2     True
3     True
Name: col1, dtype: bool

In [7]:
print(df['col1'].astype('object'))

0    1
1    0
2    3
3    4
Name: col1, dtype: object

In [8]:
print(df['col1'].astype('float'))

0    1.0
1    0.0
2    3.0
3    4.0
Name: col1, dtype: float64

In [9]:
print(df['col3'].astype('int')) # 소수점 이하를 버림

0    1
1    2
2    3
3    4
Name: col3, dtype: int64

In [10]:
print(df['col5'].astype('int'))

0    1
1    2
2    3
3    4
Name: col5, dtype: int64

In [11]:
print(df['col2'].astype('int'))# text는 숫자로 바꿀 수 없다

ValueError: invalid literal for int() with base 10: 'one'

- 동시에 여러 columns 변환

In [12]:
df[['col1', 'col3']].astype('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      object
 1   col3    4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [13]:
df_1 = df[['col1', 'col3']].astype('object')
df_1

  col1 col3
0    1  1.5
1    0  2.2
2    3  3.4
3    4  4.5

In [19]:
df[['col1', 'col3']] = df[['col1', 'col3']].astype('object')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      object
 1   col2    4 non-null      object
 2   col3    4 non-null      object
 3   col4    4 non-null      bool
 4   col5    4 non-null      object
dtypes: bool(1), object(4)
memory usage: 260.0+ bytes

  col1   col2 col3   col4 col5
0    1    one  1.5   True    1
1    0    two  2.2  False    2
2    3  three  3.4   True    3
3    4   four  4.5  False    4

- 여러개의 columns을 각각 다른 유형으로 변경

In [20]:
df.astype({'col1': 'int', 'col3':'float'})

   col1   col2  col3   col4 col5
0     1    one   1.5   True    1
1     0    two   2.2  False    2
2     3  three   3.4   True    3
3     4   four   4.5  False    4

- pd.to_numeric()
 숫자형 변경: 실수, 정수를 자동으로 구분

In [21]:
df[['col1', 'col3']] = df[['col1', 'col3']].astype('object')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      object
 1   col2    4 non-null      object
 2   col3    4 non-null      object
 3   col4    4 non-null      bool
 4   col5    4 non-null      object
dtypes: bool(1), object(4)
memory usage: 260.0+ bytes

In [24]:
print(pd.to_numeric(df['col1']))

0    1
1    0
2    3
3    4
Name: col1, dtype: int64

In [23]:
print(pd.to_numeric(df['col3']))

0    1.5
1    2.2
2    3.4
3    4.5
Name: col3, dtype: float64

In [25]:
df['col3'] = pd.to_numeric(df['col3'])
df

  col1   col2  col3   col4 col5
0    1    one   1.5   True    1
1    0    two   2.2  False    2
2    3  three   3.4   True    3
3    4   four   4.5  False    4