# 데이터프레임 단순 합치기: concat()

In [2]:
import pandas as pd

In [4]:
data_1 = {"ID":[1,2,3], "level": [4,5,6]}
data_2 = {"ID":[1, 11], "point": [4000, 5000]}
data_3 = {"ID":[4,5,6], "point": [7000,8000,9000], "level": [10,11,12]}

df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)
df_3 = pd.DataFrame(data_3)

print(df_1)
print(df_2)
print(df_3)

   ID  level
0   1      4
1   2      5
2   3      6
   ID  point
0   1   4000
1  11   5000
   ID  point  level
0   4   7000     10
1   5   8000     11
2   6   9000     12

- concat([dataframe]. axis=, join=, keys=
    - axis = 행, 열 기준
    - join ='inner','outer'(default)
    - kyes =결합 이름

In [5]:
pd.concat([df_1, df_2])# 행 합치기

   ID  level   point
0   1    4.0     NaN
1   2    5.0     NaN
2   3    6.0     NaN
0   1    NaN  4000.0
1  11    NaN  5000.0

In [7]:
pd.concat([df_1, df_3], axis=1)# 열 합치기

   ID  level  ID  point  level
0   1      4   4   7000     10
1   2      5   5   8000     11
2   3      6   6   9000     12

In [8]:
pd.concat([df_1, df_2], axis=1)

   ID  level    ID   point
0   1      4   1.0  4000.0
1   2      5  11.0  5000.0
2   3      6   NaN     NaN

In [9]:
pd.concat([df_1, df_2], axis=1, join='inner')

   ID  level  ID  point
0   1      4   1   4000
1   2      5  11   5000

In [10]:
pd.concat([df_1, df_2], axis=1, join='outer')# join='outer'는 default

   ID  level    ID   point
0   1      4   1.0  4000.0
1   2      5  11.0  5000.0
2   3      6   NaN     NaN

In [11]:
pd.concat([df_1, df_2], axis=1, keys=['one', 'two'])

  one         two
   ID level    ID   point
0   1     4   1.0  4000.0
1   2     5  11.0  5000.0
2   3     6   NaN     NaN

# 데이터프레임 Key 지정 합치기: merge()

In [12]:
data_A = {'ID': [1,2,3], 'name': ['Kim', 'Choi', 'Lee']}
data_B = {'ID': [2,3,4], 'age':[33, 15, 20]}

df_A = pd.DataFrame(data_A)
df_B = pd.DataFrame(data_B)

print(df_A)
print(df_B)

   ID  name
0   1   Kim
1   2  Choi
2   3   Lee
   ID  age
0   2   33
1   3   15
2   4   20

pd.merge(데이터프레임1, 데이터프레임2, on=, how=)
    - on = "Key", how='inner', 'outer', 'left', 'right'

In [13]:
df_inner = pd.merge(df_A, df_B, on="ID", how='inner')
df_inner

   ID  name  age
0   2  Choi   33
1   3   Lee   15

In [14]:
df_outer = pd.merge(df_A, df_B, on="ID", how='outer')
df_outer

   ID  name   age
0   1   Kim   NaN
1   2  Choi  33.0
2   3   Lee  15.0
3   4   NaN  20.0

In [15]:
df_left = pd.merge(df_A, df_B, on="ID", how='left')
df_left

   ID  name   age
0   1   Kim   NaN
1   2  Choi  33.0
2   3   Lee  15.0

In [16]:
df_right = pd.merge(df_A, df_B, on="ID", how='right')
df_right

   ID  name  age
0   2  Choi   33
1   3   Lee   15
2   4   NaN   20

In [18]:
pd.merge(df_A, df_B)# defualt: on=동일한 컬럼명, how: inner

   ID  name  age
0   2  Choi   33
1   3   Lee   15

## Join 주의사항
    - Key 데이터 유형 확인

In [25]:
data_A = {'ID': [1,2,3], 'name': ['Kim', 'Choi', 'Lee']}
data_B = {'ID': ['2','3','4'], 'age':[33, 15, 20]}

df_A = pd.DataFrame(data_A)
df_B = pd.DataFrame(data_B)

print(df_A)
print(df_B)

   ID  name
0   1   Kim
1   2  Choi
2   3   Lee
  ID  age
0  2   33
1  3   15
2  4   20

In [21]:
df_A.info()
df_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3 non-null      int64
 1   name    3 non-null      object
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [20]:
df_inner = pd.merge(df_A, df_B, on="ID", how='inner')
df_inner

ValueError: You are trying to merge on int64 and object columns for key 'ID'. If you wish to proceed you should use pd.concat

In [29]:
# casting
df_B["ID"] = df_B["ID"].astype('int')
df_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3 non-null      int64
 1   age     3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

    - Key 데이터 확인

In [22]:
data_A = {'ID': ['a', 'b', 'c'], 'name': ['Kim', 'Choi', 'Lee']}
data_B = {'ID': ['ㄱ', 'ㄴ', 'ㄷ'], 'age':[33, 15, 20]}

df_A = pd.DataFrame(data_A)
df_B = pd.DataFrame(data_B)

print(df_A)
print(df_B)

  ID  name
0  a   Kim
1  b  Choi
2  c   Lee
  ID  age
0  ㄱ   33
1  ㄴ   15
2  ㄷ   20

In [23]:
df_inner = pd.merge(df_A, df_B, on="ID", how='inner')
df_inner

Empty DataFrame
Columns: [ID, name, age]
Index: []