# 자료구조: DataFrame

In [1]:
import pandas as pd

- pd.DataFrame(): 2차원 데이터 배열
- pd.DataFrame(data=, index=, columns=)

In [3]:
df1 = pd.DataFrame([['a', 10, 110], ['b', 9, 90], ['c', 10, 80],
                    ['a', 20, 150], ['c',7, 90], ['d',8,79],
                    ['e',10,96], ['a',6,120]
                    ])
df1

   0   1    2
0  a  10  110
1  b   9   90
2  c  10   80
3  a  20  150
4  c   7   90
5  d   8   79
6  e  10   96
7  a   6  120

In [5]:
df1 = pd.DataFrame(data=[['a', 10, 110], ['b', 9, 90], ['c', 10, 80],
                    ['a', 20, 150], ['c',7, 90], ['d',8,79],
                    ['e',10,96], ['a',6,120]
                    ], columns=['val0', 'val1', 'val2'],
                   index=['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8'])
df1

   val0  val1  val2
x1    a    10   110
x2    b     9    90
x3    c    10    80
x4    a    20   150
x5    c     7    90
x6    d     8    79
x7    e    10    96
x8    a     6   120

- 딕셔너리로 만들기

In [7]:
data = {
    "val0": ['a', 'b', 'c', 'a', 'c', 'd', 'e', 'a'],
    "val1": [10, 9, 10, 20, 7, 8, 10, 6],
    "val2": [110, 90, 80, 150, 90, 79, 96, 120]
}
df2 = pd.DataFrame(data=data, index=['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8'])
df2

   val0  val1  val2
x1    a    10   110
x2    b     9    90
x3    c    10    80
x4    a    20   150
x5    c     7    90
x6    d     8    79
x7    e    10    96
x8    a     6   120

열별로 데이터 구성 후, 딕셔너리방식으로 데이터프레임 생성

In [11]:
value0 = ['a', 'b', 'c', 'a', 'c', 'd', 'e', 'a']
value1 = [10, 9, 10, 20, 7, 8, 10, 6]
value2 = [110, 90, 80, 150, 90, 79, 96, 120]

df2 = pd.DataFrame({'val0': value0, "val1": value1, "val2": value2},
                   index=['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8'])
df2

   val0  val1  val2
x1    a    10   110
x2    b     9    90
x3    c    10    80
x4    a    20   150
x5    c     7    90
x6    d     8    79
x7    e    10    96
x8    a     6   120

In [12]:
print(df2.index)
print(df2.columns)
print(df2.values)

Index(['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8'], dtype='object')
Index(['val0', 'val1', 'val2'], dtype='object')
[['a' 10 110]
 ['b' 9 90]
 ['c' 10 80]
 ['a' 20 150]
 ['c' 7 90]
 ['d' 8 79]
 ['e' 10 96]
 ['a' 6 120]]

In [13]:
df2.index.name = "No"
df2.columns.name = "info"
df2

info val0  val1  val2
No
x1      a    10   110
x2      b     9    90
x3      c    10    80
x4      a    20   150
x5      c     7    90
x6      d     8    79
x7      e    10    96
x8      a     6   120

In [21]:
df2.index = [0, 1, 2, 3, 4, 5, 6, 7]
df2

info val0  val1  val2
0       a    10   110
1       b     9    90
2       c    10    80
3       a    20   150
4       c     7    90
5       d     8    79
6       e    10    96
7       a     6   120

- series 유형을 DataFrame으로 변환

In [15]:
import numpy as np

In [18]:
dt4 = pd.DataFrame(data=np.random.randint(0, 100, size=10), index=['a','b','c','d', 'e','f','g','h','i','j'])
dt4

    0
a  80
b  87
c   0
d  88
e  41
f  47
g  96
h  57
i  49
j  90

In [20]:
dt1 = pd.DataFrame(data=np.random.randint(0, 100, size=10), index=['a','b','c','d', 'e','f','g','h','i','j'])
dt2 = pd.DataFrame(data=np.random.randint(40, 100, size=10), index=['a','b','c','d', 'e','f','g','h','i','j'])
dt3 = pd.DataFrame(data=np.random.randint(80, 100, size=10), index=['a','b','c','d', 'e','f','g','h','i','j'])

df_total = pd.concat([dt1, dt2, dt3], axis=1)# axis=1 열을 따라 추가, axis=0은 행기준이며 default는 0
df_total

    0   0   0
a  81  82  84
b   7  87  82
c  31  55  98
d  35  88  86
e   7  92  91
f  55  78  85
g   3  44  95
h   9  61  96
i  17  72  85
j  48  84  97