# 데이터 전처리 초급
## 데이터 프레임 행열 조작 기본
### 데이터프레임 생성

In [2]:
import pandas as pd

In [5]:
data = {
    "group": ['A', 'B', 'A', 'A', 'B', 'C', 'C', 'B'],
    "score": [10, 9, 10, 20, 7, 8, 10, 6],
    "age": [27, 28, 30, 36, 24, 27, 33, 25]
}
df = pd.DataFrame(data =data,
    # columns = ['group', 'score', 'age'],
    # columns = ['group', 'score'],#만약 선택하여 데이터를 추출할 때, columns에 추출하고자 하는 데이터의 key 입력
    index = [f"x{i}" for i in range(8)]
)
df

   group  score  age
x0     A     10   27
x1     B      9   28
x2     A     10   30
x3     A     20   36
x4     B      7   24
x5     C      8   27
x6     C     10   33
x7     B      6   25

### 데이터 정보 확인

In [12]:
print('-'*10+'values'+"-"*10)
print(df.values)
print('-'*10+'index'+"-"*10)
print(df.index)
print('-'*10+'columns'+"-"*10)
print(df.columns)
print('-'*10+'info'+"-"*10)
df.info()
print('-'*10+'head5'+"-"*10)
print(df.head(5))
print('-'*10+'tail5'+"-"*10)
print(df.tail(5))

----------values----------
[['A' 10 27]
 ['B' 9 28]
 ['A' 10 30]
 ['A' 20 36]
 ['B' 7 24]
 ['C' 8 27]
 ['C' 10 33]
 ['B' 6 25]]
----------index----------
Index(['x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7'], dtype='object')
----------columns----------
Index(['group', 'score', 'age'], dtype='object')
----------info----------
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, x0 to x7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   group   8 non-null      object
 1   score   8 non-null      int64
 2   age     8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 256.0+ bytes
----------head5----------
   group  score  age
x0     A     10   27
x1     B      9   28
x2     A     10   30
x3     A     20   36
x4     B      7   24
----------tail5----------
   group  score  age
x3     A     20   36
x4     B      7   24
x5     C      8   27
x6     C     10   33
x7     B      6   25

## 데이터프레임 조작 기본
- 컬럼선택

In [14]:
print(df['group'])
print(df.group)

x0    A
x1    B
x2    A
x3    A
x4    B
x5    C
x6    C
x7    B
Name: group, dtype: object
x0    A
x1    B
x2    A
x3    A
x4    B
x5    C
x6    C
x7    B
Name: group, dtype: object

In [15]:
df[['group','score']]# 2개 이상의 열을 선택할 경우 2차원 리스트(1, n) 형태로 해야한다.

   group  score
x0     A     10
x1     B      9
x2     A     10
x3     A     20
x4     B      7
x5     C      8
x6     C     10
x7     B      6

-컬럼 추가
전체 단일값으로 추가

In [16]:
df['new1'] = 1
#변수명.컬럼명 형식의 경우 기존에 있던 column을 조회할 때만 사용
#df.new2=1 ##이럴경우 new2 column가 생성되지 않음
df

   group  score  age  new1
x0     A     10   27     1
x1     B      9   28     1
x2     A     10   30     1
x3     A     20   36     1
x4     B      7   24     1
x5     C      8   27     1
x6     C     10   33     1
x7     B      6   25     1

- 값을 각각 추가 및 수정

In [18]:
df['new2'] = [1, 2, 3, 4, 5, 6, 7, 8]
df['new1'] = [0,0,0,0,0,0,0,0]
df

   group  score  age  new1  new2
x0     A     10   27     0     1
x1     B      9   28     0     2
x2     A     10   30     0     3
x3     A     20   36     0     4
x4     B      7   24     0     5
x5     C      8   27     0     6
x6     C     10   33     0     7
x7     B      6   25     0     8

In [19]:
##range를 활용한 column 추가
df['new1'] = range(8)
df

   group  score  age  new1  new2
x0     A     10   27     0     1
x1     B      9   28     1     2
x2     A     10   30     2     3
x3     A     20   36     3     4
x4     B      7   24     4     5
x5     C      8   27     5     6
x6     C     10   33     6     7
x7     B      6   25     7     8

-행 선택
행선택은 인덱스번호나 인덱스 명칭으로 슬라이싱 구조로 특정 행 선택

In [20]:
df['x1':'x3']

   group  score  age  new1  new2
x1     B      9   28     1     2
x2     A     10   30     2     3
x3     A     20   36     3     4

In [21]:
df[0:3]

   group  score  age  new1  new2
x0     A     10   27     0     1
x1     B      9   28     1     2
x2     A     10   30     2     3

In [22]:
df[1:3]

   group  score  age  new1  new2
x1     B      9   28     1     2
x2     A     10   30     2     3

데이터프레임에서 컬럼을 선택할 때는 위와 같은 방식이 가능
하지만 행을 선택하고 추가에 있어서는 이러한 방식으로 구조변경이 어려움
행을 조작하고, 행,열을 동시에 조작하기 위해서는 loc, iloc을 활용해야 한다